div{
    text-align: center;
}

h1{
    font-size: 80px;
    font-family: sans-serif;
    color: rgb(88, 7, 7);
}
button{
    width: 100px;
    height: 50px;
    background-color: green;
    cursor: pointer;
    font-weight: bold;
    color: wheat;

}

p{
    font-size: 30px;
    font-family: cursive;
}
button:hover{
    background-color: rgb(7, 12, 0);
}